<h4>Create a your FLIPDECK profile page!</h4>
    <form method="post" action="/my_profile">
      <p>
        <label>Birthplace
          <input type="text" name="birth_place" placeholder="State, Country">
        </label>
        <label>Birthdate
          <input type="date" name="birth_date">
        </label>
      </p>
      <p>
        <label>Favorite
          <input type="text" name="type">
        <span>=</span>
          <input type="text" name="item">
        </label>
      </p>
      <p>
        <label>Photo
          <input type="text" name="photo_url" placeholder="add a photo url">
        </label>
      </p>
      <p>
        <label>Username
          <input type="text" name="username">
        </label>
      <label>Signature Questions
          <input type="text" name="sig_question" placeholder="write a questions that encompasses you">
        </label>
      <p>
        <input type="submit" name="submit">
      </p>
     </form>
