<div class="deck">
  <ul>
    <div class="photo">
      <li><img src="<%= @deck["photo_url"] %>"/></li>
      <li><img src="<%= @entry["photo_url"] %>" /></li>
      <p><img src="http://i.imgur.com/BQrRG5p.jpg"/a></p>
    </div>
    <div class="question">
      <li><%= @deck["question"] %></li>
    </div>
  </ul>
  <div>
    <span class="likes-text"><i class="fa fa-heart"></i> 0 likes</span>
  </div>
