<div class="deck">
  <ul>
    <div class="photo">
      <li><img src="<%= @deck["url"] %>"/></li>
     </div>
    <div class="question">
      <li><%= @deck["question"] %></li>
    </div>
  </ul>
  <div>
    <span class="likes-text"><i class="fa fa-heart"></i> 0 likes</span>
  </div>
