<h4>Create a FLIPDECK account!</h4>
    <form method="post" action="/profile/new">
      <p>
        <label> Name
          <input type="text" name="first_name" placeholder="first">
          <input type="text" name="last_name" placeholder="last">
        </label>
      </p>
      <p>
        <label>Email
          <input type="text" name="email">
        </label>
        <label>Email
          <input type="text" name="email" placeholder="re-enter your email">
        </label>
      </p>
      <p>
       <label>Preferred pronoun
        <input type="text" name="email" placeholder="'he', 'she', 'name', etc.">
       </label>
      </p>
      <p>
        <label>Username
          <input type="text" name="username">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="secret sauce">
        </label>
      </p>
      <p>
        <input type="submit" name="submit">
      </p>
     </form>
